__pycache__
*.log
env
data/fall/fall_10.mat
data/fall/fall_11.mat
data/fall/fall_12.mat
data/fall/fall_13.mat
data/fall/fall_14.mat
data/fall/fall_2.mat
data/fall/fall_3.mat
data/fall/fall_4.mat
data/fall/fall_5.mat
data/fall/fall_6.mat
data/fall/fall_7.mat
data/fall/fall_8.mat
data/fall/fall_9.mat
data/spring/spring_10.mat
data/spring/spring_11.mat
data/spring/spring_12.mat
data/spring/spring_13.mat
data/spring/spring_14.mat
data/spring/spring_2.mat
data/spring/spring_3.mat
data/spring/spring_4.mat
data/spring/spring_5.mat
data/spring/spring_6.mat
data/spring/spring_7.mat
data/spring/spring_8.mat
data/spring/spring_9.mat
data/winter/winter_2.mat
data/winter/winter_3.mat
data/winter/winter_4.mat
data/winter/winter_5.mat
data/winter/winter_6.mat
data/winter/winter_7.mat
data/winter/winter_8.mat
data/winter/winter_9.mat
