:root {
  --width: 70%;
}
body
{
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #444444;
	background-color: #FAFAFA;
}		
#title {
	font-size: 30pt;
	font-weight: bold;
	background-color: #ABDFCA;
	width: var(--width);
	margin: 0 auto;
    text-align: center;
}
.options {
	font-size: 20pt;
	width: var(--width);
	background-color: #ABDFCA;
	margin: 0 auto;
}
#display {
    margin: 0 auto;
    text-align: center;
    width: var(--width);
    resize: horizontal;
    overflow: hidden;
    height: auto;
}

.description {
	font-size: 20pt;
	width: var(--width);
	background-color: #ABDFCA;
    margin: 0 auto;
	text-align: block;
}
.container {
	/* text-align: center; */
}
#season, .slider, .label {
	display: inline;
	margin: 2px 2px 2px 2px;
}
select {
	font-size: 15pt;
}

